@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Brand blue scale */
  --color-primary-50: #e6efff;
  --color-primary-100: #b0ccfe;
  --color-primary-200: #8ab3fd;
  --color-primary-300: #5490fc;
  --color-primary-400: #337bfc;
  --color-primary-500: #005afb;
  --color-primary-600: #0052e4;
  --color-primary-700: #0040b2;
  --color-primary-800: #00328a;
  --color-primary-900: #002669;
  /* Neutral / "secondary" scale */
  --color-neutral-50: #e9e9ea;
  --color-neutral-100: #bcbcbd;
  --color-neutral-200: #9c9c9d;
  --color-neutral-300: #6e6e71;
  --color-neutral-400: #525255;
  --color-neutral-500: #27272b;
  --color-neutral-600: #232327;
  --color-neutral-700: #1c1c1f;
  --color-neutral-800: #151518;
  --color-neutral-900: #101012;

  /* Gray scale */
  --color-gray-50: #f6f8fa;
  --color-gray-100: #e9e9ea;
  --color-gray-200: #bccbdd;
  --color-gray-300: #9c9c9d;
  --color-gray-400: #6e6e71;
  --color-gray-500: #525255;
  --color-gray-600: #27272b;
  --color-gray-700: #232327;
  --color-gray-800: #151518;
  --color-gray-900: #101012;

  /* Typograph Scale  */
  --text-h1: 3.813rem;
  --text-h1--line-height: 1.15;
  --text-h1--font-weight: 700;

  --text-h2: 3.063rem;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 700;

  --text-h3: 2.438rem;
  --text-h4: 1.938rem;
  --text-h5: 1.563rem;
  --text-h6: 1.25rem;

  --text-body: 1rem;
  --text-body-sm: 0.813rem;
  --text-caption: 0.813rem;
  --text-caption-sm: 0.625rem;

  /* shadcn semantic aliases  */
  --font-heading: var(--font-sans);
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Shadows */
  --shadow-card: var(--shadow-card);
}

:root {
  /* Brand blue scale */
  --primary: var(--color-primary-500);
  --primary-foreground: #ffffff;
  --secondary: var(--color-neutral-50);
  --secondary-foreground: var(--color-neutral-900);
  --foreground: var(--color-neutral-900);
  --background: #ffffff;
  --muted: var(--color-neutral-50);
  --muted-foreground: var(--color-neutral-400);
  --border: var(--color-neutral-100);
  --ring: var(--color-primary-300);

  /* shadcn semantic aliases */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Shadows */
  --shadow-card: 0 4px 16px 0 rgb(0 0 0 / 16%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Shadows */
  --shadow-card: 0 4px 16px 0 rgb(0 0 0 / 40%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-size: 16px; /* or 100% — your scale anchor */
  }
  body {
    @apply text-body text-foreground;
  }
}
